@font-face {
  font-family: 'cornpop';
  src: url('CornPop.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'deco';
  src: url('decodividers_sg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'parisish';
  src: url('Parisish.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poiret One';
  src: url('PoiretOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
