#button-con {
  cursor: default;
  position: fixed;
  bottom: 1.3%;
  right: 2%;
  -webkit-transform: translateZ(0);
}
#dayIcon, #nightIcon {
  position: relative;
  top: -5px;
  height: 20px;
  width: 20px;
  margin: 0 7px;
  fill: rgba(156, 174, 192, 0.45);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
#dayIcon, #nightIcon {
  cursor: pointer;
}
#redditReaderContainer.redditReaderNightMode #dayIcon, #redditReaderContainer.redditReaderNightMode #nightIcon {
  fill: rgba(156, 174, 192, 0.27);
}
.readrToggle {
  display: none;
}
.readrToggle, .readrToggle:after, .readrToggle:before, .readrToggle *, .readrToggle *:after, .readrToggle *:before, .readrToggle + .readrToggle-button {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.readrToggle::-moz-selection, .readrToggle:after::-moz-selection, .readrToggle:before::-moz-selection, .readrToggle *::-moz-selection, .readrToggle *:after::-moz-selection, .readrToggle *:before::-moz-selection, .readrToggle + .readrToggle-button::-moz-selection {
  background: none;
}
.readrToggle::selection, .readrToggle:after::selection, .readrToggle:before::selection, .readrToggle *::selection, .readrToggle *:after::selection, .readrToggle *:before::selection, .readrToggle + .readrToggle-button::selection {
  background: none;
}
.readrToggle + .readrToggle-button {
  outline: 0;
  display: inline-block;
  width: 50px;
  height: 29px;
  position: relative;
  cursor: pointer;
  border: 2px solid #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.readrToggle + .readrToggle-button:after, .readrToggle + .readrToggle-button:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.readrToggle + .readrToggle-button:after {
  left: 0;
}
.readrToggle + .readrToggle-button:before {
  display: none;
}
.readrToggle:checked + .readrToggle-button:after {
  left: 50%;
}
.readrToggle + .readrToggle-button {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  border: 2px solid rgba(156, 174, 192, 0.45);
  border-radius: 2em !important;
}
.readrToggle + .readrToggle-button:after {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: rgba(156, 174, 192, 0.45);
  content: "";
  border-radius: 1em !important;
}
.readrToggle-button:hover {
  opacity: 0.6;
}
.readrToggle:checked + .readrToggle-button {
  border: 2px solid rgba(156, 174, 192, 0.27);
}
.readrToggle:checked + .readrToggle-button:after {
  left: 50%;
  background: rgba(156, 174, 192, 0.27);
}