/**
 * Place your custom CSS styles here.
 **/

.saranshReadBtn a {
  cursor: pointer !important;
  opacity: 1 !important;
  display: inline-block !important;
}
/*Top button styling*/
span.score.saranshTopReadBtn {
  opacity: 1;
  margin-left: 5px;
  cursor: pointer !important;
  display: inline-block;
}
.readr-guide-con {
  position: relative;
}
#redditReaderContainer {
  position: fixed;
  z-index: 2147483646 !important;
  background: #FFF;
  box-sizing: border-box;
  padding: 6% 10%;
  font-family: Georgia, Cambria, Times, serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
  -webkit-transition: all 70ms ease-out !important;
  transition: all 70ms ease-out !important;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
#redditReaderContainer.redditReaderNightMode {
  background: #25272A;
}
#redditReaderContainer a {
  color: #69B4FF
}
#redditReaderContainer.visible {
  opacity: 1;
  overflow: auto;
}
#redditReaderTitle {
  max-width: 750px;
  margin: auto;
  position: relative;
  min-height: 72px;
  font-family: 'Open sans';
  color: #6A727C;
}
#redditReaderGilded {
  display: none;
  position: absolute;
  font-family: 'Lato', 'Open Sans', sans-serif;
  left: -95px;
  top: 16px;
  font-size: 12px;
  width: 71px;
  color: #6A727C;
  cursor: default;
}
#redditReaderGilded.redditReaderGildedTrue {
  display: block;
}
#redditReaderGilded span {
  opacity: 0;
}
#redditReaderGilded:hover span {
  opacity: 1;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}
#redditReaderGilded div {
  background: #FFEA00;
  box-shadow: 0 0 20px #FFEA53;
  width: 13px;
  height: 13px;
  border-radius: 20px !important;
  position: absolute;
  top: 1px;
  right: 0;
}
#redditReaderAuthor {
  float: left;
  display: inline-block;
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 20px;
}
#redditReaderAuthor.opIsFag {
  color: #86C3EE;
}
#redditReaderVotes {
  float: left;
  display: inline-block;
  margin: 13px;
  font-weight: 100;
  color: #9DA5B1;
}
#redditReaderETA {
  font-weight: 100;
}
#redditReaderETA #redditReaderETAIcon {
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 25px;
  right: 66px;
  height: 25px;
  fill: rgba(156, 174, 192, 0.45);
}
#redditReaderETA span {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #9DA5B1;
}
#redditReaderCommentText {
  max-width: 750px;
  margin: auto;
  font-family: 'EB Garamond', 'Open sans';
  font-weight: 300;
  line-height: 1.7;
  color: #3D434B;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
#redditReaderCommentText.readrSerifModeEnabled {
  font-size: 17px;
  font-weight: 300;
  font-family: 'Ubuntu','Open Sans';
  line-height: 1.9;
}
#redditReaderContainer.redditReaderNightMode #redditReaderCommentText {
  color: #D0D8DA;
}
#redditReaderContainer p {
  margin: 24px 0;
}
#redditReaderContainer pre {
  margin: 24px;
}
#redditReaderContainer pre code {
  white-space: pre-wrap;
}
#redditReaderContainer strong {
  font-weight: 600;
}
#redditReaderContainer em {
  font-style: italic;
}
#redditReaderContainer blockquote {
  border-left: 2px solid #BFC7D3;
  padding-left: 30px;
}
#redditReaderContainer ol {
  list-style: decimal outside;
  margin-left: 30px;
}
#redditReaderContainer ul {
  list-style: disc outside;
  margin-left: 30px;
}
#redditReaderContainer li {
  color: #BFC7D3;
}
#redditReaderContainer li p {
  color: #3D434B
}
#redditReaderContainer.redditReaderNightMode li p {
  color: #D0D8DA;
}
#settingsBtn {
  position: fixed;
  left: 20px;
  bottom: 15px;
  -webkit-transform: translateZ(0);
}
#settingsBtn a {
  color: rgba(156, 174, 192, 0.75);
  fill: rgba(156, 174, 192, 0.76);
  font-family: 'Lato';
  font-size: 18px;
  display: inline-block;
}
#settingsBtn #settingsIcon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-bottom: -5px;
  display: inline-block;
}
#saranshRedditReaderDone {
  margin: 100px auto 0;
  text-align: center;
  padding: 20px;
  border-radius: 0 !important;
  border: 2px solid #6A727C;
  color: #6A727C;
  font-family: 'Lato', 'Open Sans', sans-serif;
  width: 160px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}
#saranshRedditReaderDone:hover {
  color: #8ACC8A;
  border-color: #8ACC8A;
}
#saranshRedditReaderClose {
  position: fixed;
  top: 6%;
  right: 4%;
  width: 70px;
  height: 50px;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  -webkit-transform: translateZ(0);
  fill: rgba(156, 174, 192, 0.45);
}
#saranshReadrTweetLink {
  width: 130px;
  text-align: center;
  margin: 30px auto;
  padding: 30px 0;
  font-size: 10px;
  font-family: 'Lato';
}
#saranshReadrTweetLink a {
  color: rgba(156, 174, 192, 0.45) !important;
}
@media all and (max-width: 1000px) {
  #saranshRedditReaderClose {
    right: 2%;
    top: 7%;
  }
  #redditReaderContainer {
    padding: 7% 15%;
  }
  #redditReaderTitle {
    max-width: 600px;
  }
  #redditReaderCommentText {
    max-width: 600px;
  }
  #settingsBtn a {
    font-size: 13px;
  }
  #settingsBtn #settingsIcon {
    width: 20px;
    height: 20px;
  }
}
#redditReaderContainer.redditReaderNightMode #saranshRedditReaderClose svg {
  fill: rgba(156, 174, 192, 0.27);
}
#redditReaderContainer.redditReaderNightMode #redditReaderETAIcon {
  fill: rgba(156, 174, 192, 0.27);
}
#saranshRedditReaderClose:hover {
  opacity: 0.6;
}
.redditReaderNoscroll {
  overflow-x: hidden !important;
  overflow-y: hidden !important
}